DataStructure.Tests/bin/Debug/DataStructure.Tests.dll
DataStructure.Tests/bin/Debug/DataStructure.Tests.pdb
DataStructure.Tests/bin/Debug/DataStructure.exe
DataStructure.Tests/bin/Debug/DataStructure.pdb
DataStructure.Tests/obj/Debug/DataStructure.Tests.csprojAssemblyReference.cache
DataStructure.Tests/obj/Debug/DataStructure.Tests.dll
DataStructure.Tests/obj/Debug/DataStructure.Tests.pdb
DataStructure/.vs/DataStructure/v16/.suo
DataStructure/.vs/DataStructure/v16/Server/sqlite3/storage.ide
DataStructure/.vs/DataStructure/v16/Server/sqlite3/storage.ide-shm
DataStructure/.vs/DataStructure/v16/Server/sqlite3/storage.ide-wal
DataStructure/bin/Debug/DataStructure.exe
DataStructure/bin/Debug/DataStructure.pdb
DataStructure/obj/Debug/DataStructure.csproj.FileListAbsolute.txt
DataStructure/obj/Debug/DataStructure.exe
DataStructure/obj/Debug/DataStructure.pdb
